 body {
            font-family: Arial, sans-serif;
            padding: 30px;
            max-width: 700px;
            margin: auto;
        }

        h1 {
            text-align: center;
            background-color:DodgerBlue;
        }

        img {
            display: block;
            margin: auto;
        }
        form {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        button {
            padding: 10px;
            background-color:darkgray;
            cursor: pointer;
        }

        .resultado {
            margin-top: 20px;
            font-size: 1.2em;
            text-align: center;
            background-color:orange;
        }
    