body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    
    background: white;
    margin: 0;
    padding: 0;
   
}
header {
    background: #0277bd;
    color: white;
    padding: 40px;
    text-align: center;
}
.conteudo {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
}
img {
    width: 70%;
    display: block;
    margin: auto;
}
.row {
  display: flex;
}

.column {
  flex: 100%;
}
.navbar {
    padding: 15px;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
} 
.table {
    width: 100%;
    border-collapse: collapse;
     font-size: 1.2em;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.table th {
    background-color: #f2f2f2;
    text-align: left;
} 